.page.theme_dark {
  --main-font: 'IBM Plex Mono';
  --main-font-size: 18px;
  --item-title-text-color: #000028;
  --header-color: #db00ff;
  --header-shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --button-outline-hover-color: rgb(255 0 112 / 0.4);
  --lamp-visibility: visible;
  --bg-color: #000028;
}

@media (prefers-color-scheme: dark) {

  :root {
    --main-font: 'IBM Plex Mono';
    --main-font-size: 18px;
    --item-title-text-color: #000028;
    --header-color: #db00ff;
    --header-shadow-color: #ff0070;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --accent-text-color: #ff0070;
    --bg-image: url(../images/cover-image-dark.png);
    --button-outline-hover-color: rgb(255 0 112 / 0.4);
    --lamp-visibility: visible;
    --bg-color: #000028;
  }
}
