.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --item-title-text-color: #353430;
  --header-color: #ffc2e6;
  --header-shadow-color: #ff0070;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
  --section-description-color: var(--text-color);
  --button-outline-hover-color: rgb(50 49 45 / 0.4);
  --lamp-visibility: hidden;
  --bg-color: #ffc2e6;
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-image: url(../images/cover-image-light.png);
    --item-title-text-color: #353430;
    --header-color: #ffc2e6;
    --header-shadow-color: #ff0070;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --section-description-color: var(--text-color);
    --button-outline-hover-color: rgb(50 49 45 / 0.4);
    --lamp-visibility: hidden;
    --bg-color: #fff1f7;
  }
}
