/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex Mono';
  --main-font-size: 18px;
  --item-title-text-color: #000028;
  --header-color: #db00ff;
  --header-shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --page-padding: clamp(10px, -0.4213rem + 4.4643vw, 20px);
  --button-outline-hover-color: rgb(255 0 112 / 0.4);
  --lamp-visibility: visible;
  --bg-color: #000028;
}
